/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Variables */
:root {
  --primary-gold: #fbbc05;
  --primary-gray: #f2f3f5;
  --primary-dark-gray: #949597;
  --light-white: #f2f3f3;
}

/* Body */
body {
  background: var(--light-white);
  margin: 0;
  font-family: "Roboto";
}

/* Pages */
.pages {
  max-width: 1400px;
  /* min-width: 480px; */
  margin: 0 auto;
  padding-bottom: 100px;
}

/* Global Styles */
*:focus { 
  box-shadow: none !important;
}

/* Header Bar */
.header-bar {
  border-bottom: solid 2px var(--primary-gray);
  margin-bottom: 50px;
  font-size: 1.2rem;
}

.header-bar img {
  height: 35px;
}

.header-bar .search-bar {
  background-color: var(--primary-gray);
}

/* Note Form */
.note-form .title {
  border: none;
  padding: 0 10px;
  background-color: transparent;
  font-weight: 500;
}

.note-form .title:focus {
  background-color: transparent;
}

.note-form .body {
  border: none;
  padding: 10px;
  height: 200px;
  resize: none;
  background-color: transparent;
  white-space: pre-wrap;
}

.note-form .body:focus {
  background-color: transparent;
}

.note-form .pin {
  position: absolute;
  top: 2.5%;
  right: 2.5%;
}

.note-form .pin:hover {
  cursor: pointer;
}

.note-form .pin img {
  height: 30px;
}

.note-form .card-icons { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-form .card-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colorInput input[type="color"] {
  display: none;
}

.colorInput {
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  display: inline-block;
  margin-right: 10px;
}

.delete {
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  display: inline-block;
}

.save {
  background-color: transparent !important;
  color: black !important;
  border: var(--primary-gold) !important;
}

.save:hover {
  background-color: var(--primary-gray) !important;
  color: black !important;
  border: var(--primary-gray) !important;
}

/* Tesseract Input */
.imageFileInput input[type="file"] {
  display: none;
}

.imageFileInput {
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  display: inline-block;
  margin-right: 10px;
}

/* Subsection */
.subsection {
  margin: 5% 0%;
}

.subsection > .title {
  color: var(--primary-dark-gray);
  font-weight: 500;
  font-size: .8rem;
  margin-bottom: 10px;
}

/* Note */
.note {
  margin-bottom: 10px;
}
.note:hover {
  box-shadow: 0px 0px 3px black;
}

.note .body { 
  border-radius: inherit;
  white-space: pre-wrap;
}

.note .footer {
  display: none;
}

/* Login */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
}

.login {
  width: 420px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
}

.login-content {
  padding-left: 10%;
  padding-right: 10%;
}

.login-title {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 2em;
  color: black;
  font-weight: 700;
}

.login-button {
  text-align: center;
  margin: auto;
}

/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-gold);
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Instructions Modal */
.instructions-title {
  font-size: 2rem;
  font-weight: 700;
}

.instructions-subtitle {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.instructions-body {
  font-weight: 300;
}

.instructions-body > .subsection {
  font-weight: 500;
  margin: 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 75%;
}

.credits {
  text-align: center;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}